body{

    font-family: Verdana, Arial;
    font-size: 10pt;
}

table{

    background-color: #FFF;
    border: solid 1px #000;
    width: 400px;
}

thead{

    background-color: #C0C0C0;
    text-align: left;
}

input{

    border: solid 1px #000;
    font-family: Verdana, Arial;
    font-size: 10pt;
}

.eliminado{

    color: #F00;
    text-decoration: line-through;
}